<div class="row">
  <div class="col-lg-12">
    <form action="/" method="get">
      <fieldset>
        <legend>Farmsubsidy</legend>
        <a href="ranked_per_year_per_payment">
          <span class="glyphicon glyphicon-align-left"></span>
          to the top 10 per year
        </a>
        <p></p>
        <a href="ranked_all_years_per_payment">
          <span class="glyphicon glyphicon-align-left"></span>
          to the top 20 total
        </a>
        <p></p>
        <label>
        Search for a name:
        </label>
        <input type="text" name="name" value="<%= params[:name] %>">
        <button class="btn btn-warning" type="submit">
          Search
        </button>
      </fieldset>
    </form>
  </div>
</div>

<%# PaymentYearTotal.sortbyyear(2007) %>
<%# PaymentYearTotal.sortbypayment %>
<%# PaymentYearTotal.methods.sort %>

<div class="row">
  <div class="col-lg-12">

    <% if @recipients != [] %>
        <p>
          We found <%= @recipients.all.length %> recipients with your search-term.
        </p>
        <h3>All Recipients:</h3>
        <% @recipients.each do | recipient | %>
          <p><a href="recipient/<%= recipient.id %>"><span class="glyphicon glyphicon-user"></span> <%= recipient.name %></a></p>
        <% end %>
    <% else %>                  
      <h3>
        Please enter a search-term for a list of names including this term.
      </h3>
    <% end %>
  </div>
</div>
