<div class="row">
  <div class="col-lg-12">
    <form action="/" method="get">
      <fieldset>
        <legend>Farmsubsidy</legend>
        <a href="ranked">
          <span class="glyphicon glyphicon-align-left"></span>
          to the visualization
        </a>
        <p></p>
        <label>
        Search for a name:
        </label>
        <input type="text" name="name" value="<%= params[:name] %>">
        <button class="btn btn-warning" type="submit">
          Search
        </button>
      </fieldset>
    </form>
  </div>
</div>

<%# PaymentYearTotal.sortbyyear(2007) %>
<%# PaymentYearTotal.sortbypayment %>
<%# PaymentYearTotal.methods.sort %>

<div class="row">
  <div class="col-lg-12">
    <h3>All Recipients:</h3>
    <% @recipients.each do | recipient | %>
      <p><a href="recipient/<%= recipient.id %>"><%= recipient.name %></a></p>
    <% end %>
  </div>
</div>
