<%= @year %>
<form action="/" method="get">
  <input type="text" name="name" value="<%= params[:name] %>"/><br />
  <input type="submit" />
</form>

<p>
<% @recipients.each do | recipient | %>
  <p><a href="recipient/<%= recipient.id %>"><%= recipient.name %></a></p>
<% end %>
<br>

