body {    background-color: #F0EDE8;
          font-family: Helvetica, Arial, sans-serif;
}

#container {
          background-color: #E6E2E1;
          width: 800px;
          margin-right: auto;
          margin-left: auto;
          margin-top: 20px;
}

.row {
          margin-left: 5px;
          margin-top: 20px;
}


#bar-chart {
  font-family: 'Droid Sans', sans-serif;
}

#bar-chart text.bar-label {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  fill: #4D4D4D;
;
}

#bar-chart text.bar-value {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  fill: #4D4D4D;
  background-color: #fff;
}


